@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  /* css variables with theme colors,
    names have to start with "--" */
  --color-1: #b9af9e;
}
@media (min-width: 900px){

body {
  background-color:rgb(146, 166, 184);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  'header features'
  'image link'
  'image form'
  'image announce'
    
}
}
h1 {
  grid-area: header;
  font-family:'Lobster', cursive;;
  font-size: 50px;
  text-align: center;
  color:#2E3D33;
  background-color: coral;
}

p {
  grid-area: info;
  font-size: 25px; 
  font-family: monospace;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.announce-date {
  grid-area: announce;
  font-size: 15px;
}



.product-features {
  grid-area: features;
  font-family: cursive;
  text-align: center;
  justify-self: center;
  align-self: center;
  background-color: coral;
}

.product-image {
  display: grid;
  grid-area:image;
  height:20%;
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.link {
  grid-area: link;
  color: rgb(158, 23, 23);
  font-weight: bold;
  justify-self: center;
  align-self: center;
}

form {
  grid-area: form;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.image2 {
  display: grid;
  grid-area: image2;
  
}