/* font @import */

:root {
  /* css variables with theme colors,
    names have to start with "--" */
  --color-1: #b9af9e;
}
@media (min-width: 900px){

body {
  background-color:rgb(146, 166, 184);
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  'header features'
  'info link'
  'image form'
    
}
}
h1 {
  grid-area: header;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  text-align: center;
  color:#2E3D33
}

p {
  grid-area: info;
  font-size: 25px; 
  font-family: monospace;
  margin: 5px;
  padding: 10px;
  text-align: center;
}





.product-features {
  grid-area: features;
  font-family: cursive;
  text-align: center;
}

.product-image {
  display: grid;
  grid-area:image;
  height:20%;
  margin: 20px;
  
  align-items: center;
  justify-content: center;
}

.link {
  grid-area: link;
  color: rgb(158, 23, 23);
  font-weight: bold;
}

form {
  grid-area: form;
  text-align: center;
}